<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Конвертер</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
    <div>
        <img src="/statico/img/currency.jpg/">
    </div>

    <div th:replace="~{navigation :: navigation(Home)}" />

    <div class="col-md-10 text-left">
        <div>
            <h4><p> Сегодня: <span th:text="${#temporals.format(standardDate, 'dd MMMM yyyy HH:mm:ss')}">Сегодня: 26 августа 2020 19:08</span></p></h4>

            <form th:object="${requestDate}">
                <p>Выберите дату:
                    <input type="date" name="date_req" th:value="${requestDate}">
                    <input type="submit" value="Обновить сведения"></p>
            </form>

            <h4>Курс валют на <span th:utext="${date}"></span> г.</h4>

            <table class="table table-hover">
                <thead class="head-dark">
                <tr>
                    <td>Код</td>
                    <td>Наименование валюты</td>
                    <td>Номинал</td>
                    <td>Значение</td>
                </tr>
                </thead>
                <tbody>
                <!--for a Map -->
<!--                <tr th:each="entry, stats : ${currencies}" th:with="currency=${entry.value}">-->
<!--                    <td th:utext="${currency.charCode}"/>-->
<!--                    <td th:utext="${currency.name}"/>-->
<!--                    <td th:utext="${currency.nominal}"/>-->
<!--                    <td th:utext="${currency.value}"/>-->
<!--                </tr>-->
                <!--for a LIST -->
                <tr th:each="currency : ${currencies}">
                    <td th:utext="${currency.charCode}"/>
                    <td th:utext="${currency.name}"/>
                    <td th:utext="${currency.nominal}"/>
                    <td th:utext="${currency.value}"/>
                </tr>
                </tbody>
            </table>

            <div class="form-group">
                <div class="col-xs-15">
                    <!-- "Данные по курсам валют отсутствуют на запрашиваемую дату."  -->
                    <div th:if="${responseError != null}">
                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                            <errors th:text="${responseError}"></errors>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</body>
</html>